/* color veriable */
$master_color:#00eaea;
$white:white;
$black:black;
$blue:rgb(58 58 149);

/* dark_mode_color */

/* font name */
$Poppins_Thin:'Poppins-Thin';
$Poppins_ExtraLight:'Poppins-ExtraLight';
$Poppins_Light:'Poppins-Light';
$Poppins_Regular:'Poppins-Regular';
$Poppins_Medium:'Poppins-Medium';
$Poppins_SemiBold:'Poppins-SemiBold';
$Poppins_Bold:'Poppins-Bold';
$Poppins_ExtraBold:'Poppins-ExtraBold';
$Poppins_Black:'Poppins-Black';
/* border */
$border:0px solid red;
