/* color veriable */
/* dark_mode_color */
/* font name */
/* border */
/* responsive_desine_mixin start*/
/* responsive_desine_mixin end*/
@font-face {
  font-family: "Poppins-Thin";
  src: url("../fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.ttf");
}
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

img,
iframe,
a,
span,
i {
  text-decoration: none;
  display: inline-block;
}

.header_area {
  border: 0px solid red;
  background-color: #00eaea;
}
.header_area .header_area_content {
  border: 0px solid red;
  display: flex;
}
.header_area .header_area_content .menu_bar {
  border: 0px solid red;
  padding-top: 35px;
  padding-bottom: 5px;
}
.header_area .header_area_content .menu_bar a {
  border: 0px solid red;
}
.header_area .header_area_content .menu_bar a:hover i {
  color: rgb(58, 58, 149);
}
.header_area .header_area_content .menu_bar a i {
  border: 0px solid red;
  font-size: 40px;
  color: white;
  transition-duration: 0.4s;
}
.header_area .header_area_content .logo {
  border: 0px solid red;
  margin: 0px 35px;
  align-items: center;
  display: flex;
}
.header_area .header_area_content .logo a img {
  border: 0px solid red;
}
.header_area .header_area_content .search_area {
  border: 0px solid red;
  position: relative;
  margin-top: 15px;
  margin-right: 25px;
}
.header_area .header_area_content .search_area input {
  border: 0px solid red;
  width: 750px;
  outline: 0;
  color: black;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 200px 5px 10px;
  font-family: "Poppins-Light";
  border: 1px solid #b0b0b0;
}
.header_area .header_area_content .search_area .all_item_area {
  border: 0px solid red;
  display: flex;
  width: 120px;
  height: 31px;
  background-color: rgba(179, 179, 200, 0.29);
  position: absolute;
  top: 0;
  right: 45px;
  justify-content: space-between;
}
.header_area .header_area_content .search_area .all_item_area .text_area {
  border: 0px solid red;
  padding-left: 10px;
  align-items: center;
  display: flex;
}
.header_area .header_area_content .search_area .all_item_area .text_area .text {
  border: 0px solid red;
  font-size: 11px;
  font-family: "Poppins-Regular";
  color: rgb(58, 58, 149);
}
.header_area .header_area_content .search_area .all_item_area .down_logo {
  border: 0px solid red;
  align-items: center;
  display: flex;
  padding-right: 10px;
}
.header_area .header_area_content .search_area .all_item_area .down_logo i {
  border: 0px solid red;
  font-size: 11px;
  color: rgb(58, 58, 149);
}
.header_area .header_area_content .search_area .button_area {
  border: 0px solid red;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 1px;
}
.header_area .header_area_content .search_area .button_area i {
  border: 0px solid red;
  font-size: 14px;
  color: #6c6c6c;
}
.header_area .header_area_content .shopping_card_area {
  border: 0px solid red;
  display: flex;
  margin-top: 17px;
  position: relative;
}
.header_area .header_area_content .shopping_card_area .card_logo {
  border: 0px solid red;
  width: 28px;
  height: 28px;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 7px;
}
.header_area .header_area_content .shopping_card_area .card_logo i {
  border: 0px solid red;
  font-size: 15px;
  color: rgb(58, 58, 149);
}
.header_area .header_area_content .shopping_card_area .price_area {
  border: 0px solid red;
}
.header_area .header_area_content .shopping_card_area .price_area .taka_icon {
  border: 0px solid red;
}
.header_area .header_area_content .shopping_card_area .price_area .taka_icon i {
  border: 0px solid red;
  font-size: 12px;
  color: white;
}
.header_area .header_area_content .shopping_card_area .price_area .taka {
  border: 0px solid red;
  font-size: 12px;
  font-family: "Poppins-Light";
  color: white;
}
.header_area .header_area_content .shopping_card_area .count_number_area {
  border: 0px solid red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -15px;
}
.header_area .header_area_content .shopping_card_area .count_number_area .count_number {
  border: 0px solid red;
  font-size: 12px;
  font-family: "Poppins-Light";
  color: rgb(58, 58, 149);
}
.header_area .header_area_content .login_and_sign-up_area {
  border: 0px solid red;
  margin-left: auto;
  margin-top: 20px;
}
.header_area .header_area_content .login_and_sign-up_area .text {
  border: 0px solid red;
  font-size: 12px;
  color: white;
  font-size: "Poppins-Regular";
}
.header_area .header_area_content .login_and_sign-up_area .text a {
  border: 0px solid red;
  transition-duration: 0.4s;
}
.header_area .header_area_content .login_and_sign-up_area .text a:hover {
  color: rgb(58, 58, 149);
}

/*# sourceMappingURL=style.css.map */



/* Category_area start  */
